<img src="/images/linux.jpg"/><br>
<label id="site-msg">Label</label><br>
<a href="/">Home</a> |
<a href="/about">About</a> |
<a href="/subscribe">Login</a>
<script>
    document.getElementById("site-msg").innerHTML = 'This site is about Embedded Linux !!'
</script>